h1 {
    background: black;
    color: white;
    font: sans-serif;
    padding-left: 30px;
}
h2 {
    text-align: center;
    background: purple;
    color: white;
    font-style: italic;
}
h3 {
    text-align: right;
    text-decoration: underline;
    background: lightblue;
    color: purple;
    padding-right: 30px;
    font-weight: 1000px;
}
